* {
    margin: 0;
    padding: 0;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
}
#all {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.map-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.map-box {
    width: 100vw;
    height: 80vh;
}
.responsive {
    width: 50vh;
    height: 100vh;
}
@media screen and (max-width:550px){
    .responsive {
        width: 100vw;
        height: 100vh;
    }
}
header {
    width: 100%;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #94adda;
}
.logo-div {
    width: 70%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 5vh;
}
.user {
    width: 30%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    width: 100%;
    height: 15vh;
    border: solid 0.1px black;
    border-radius: 10px 10px 0 0;
    background-color: #94adda;
}
.nav-div {
    display: flex;
    justify-content: space-around;
}
.nav-div div {
    height: 15vh;
    background-color: #94adda;
    text-align: center;
    padding-top: 10px;
}
i::before {
    font-size: 150%;
}
a {
    color: black;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}